<!DOCTYPE html>
<html>

<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px;
    text-align: left;
    padding: 4px;
    margin:4px;
}


</style>
</head>


<body>

<form  action="{{ path('update', {'id':c.id} ) }}" method= "PUT">
  BookName:<br>
  <input type="text" id = "bname" name="bname" value={{c.name}} >
  <br>
  AuthorName:<br>
  <input type="text" id = "aname" name="aname" value={{c.author}}>
  <br><br>
   Category:<br>
  <input type="text" id = "cat" name="cat" value={{c.cat}}>
  <br><br>
   SSN:<br>
  <input type="value" id = "ssn" name="ssn" value={{c.sSN}}>
  <br><br>
  <input type="submit" value="Submit">
</form> 

<table>
  <tr>
    <th>Book Name</th>
    <th>Author Name</th>
    <th>Category</th> 
    <th>SSN</th>
    <th>Id</th>
    
  </tr>
  
    {% for c in db %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.author }}</td>
            <td>{{ c.cat }}</td>
            <td>{{ c.sSN }}</td>
            <td>{{ c.id }}</td>
            <form  action="{{ path('edit', {'id':c.id}) }}" method= "POST">
            <th><input type="submit" value="Edit" name={{c.id}}></th>
            </form>          
            <form  action="{{ path('delete',{'id':c.id}) }}" method= "POST">
            <th><input type="submit" value="Delete" name="{{c.id}}"></th>
            </form>
        </tr>
    {% endfor %}
  
</table>


</body>
</html>


